div(ng-include='"components/navbar/navbar.html"')

.container(ng-show="mode === 'main'")
  .col-sm-12.col-lg-4
    .row
      button.pull-right.btn(ng-click="refreshRoom()") refresh
      button.pull-right.btn(ng-click="startGame()") start
    .row
      .list-group
        .list-group-item(ng-repeat="user in userlist") {{user.name}}
    .row
      textarea.col-md-12(cols=50, rows=10, ng-model="chattingTexts", style="color:black;")
      div
        input.form-control(type='text', placeholder='Add a new thing here.', 
          ng-keyup="$event.keyCode == 13 && say()", ng-model='newLine')
        button.pull-right.btn.btn-primary(ng-click='say()') say!

div(ng-show="mode === 'bond'", ng-include='"components/game/bonding.html"')  