div(ng-show="!result")
	.col-md-12
		| Watch {{target.name}}

	.col-md-12
		label.col-md-10 Select action to impose
		.col-md-2
			button.btn.btn-primary(ng-click='impose()', ng-disabled="waiting") Select 
	.col-md-12
		.col-md-6
			select(ng-model="currentSelection", ng-options="option.key for option in options")
		.col-md-6
			div {{currentSelection.desc}}

div(ng-show="result")
	div You, {{result.user.name}}, should
	div {{result.action.desc}}
	br
	div and
	br
	div watch {{result.watch.action.key}} {{result.watch.user.name}} do
	div {{result.watch.action.desc}}

	br
	br
	br
	br
	div 
		button.btn.btn-primary(ng-click="finish()", ng-disabled="finishVoted") Finish Game